*{
  font-family: Gilroy;
}

.home{
  display: flex;
  flex-direction: column;
  padding: 40px 0 40px;
}

.home__content{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 50px;
}

.home__content_title{
  font-family: Gilroy-Bold;
  white-space: pre-line;
  font-size: 47.3392px;
  line-height: 59px;
  color: #070707;
}

.home__content_text{
  white-space: pre-line;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
}

.home__foto{
  max-width: 965px;
  box-shadow: 0px 0px 10px .1px rgba(51, 51, 51, 1);
}

@media (max-width: 1002px) {
  .home{
    max-width: 700px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .home{
    padding: 10px 0 20px;
  }
  .home__content{
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
  }
  .home__content_title{
    margin-bottom: 30px;
  }
  .home__content_text{
    margin-bottom: 30px;
  }
}
