body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Gilroy-Bold';
  font-style: bold;
  font-weight: 700;
  src: url('./fonts/Gilroy-Bold.eot'); /* IE9 Compat Modes */
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
       url('./fonts/Gilroy-Bold.woff') format('woff'), /* Modern Browsers */
       url('./fonts/Gilroy-Bold.ttf') format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Gilroy-Medium.eot'); /* IE9 Compat Modes */
  src: local('Gilroy'), local('Gilroy'),
       url('./fonts/Gilroy-Medium.woff') format('woff'), /* Modern Browsers */
       url('./fonts/Gilroy-Medium.ttf') format('truetype') /* Safari, Android, iOS */
}

.container {
  width: 965px;
  padding: 0 10px;
  margin: 0 auto;
}