.input{
  width: 250px;
  height: 26px;
  font-size: 18px;
  padding: 3px;
  color: #070707;
  border: 1px solid #828282;
  margin-right: 10px;
}

.input::placeholder{
  padding-left: 10px;
}

@media (max-width: 415px) {
  .input{
    width: 200px;
  }
}

@media (max-width: 355px) {
  .input{
    width: 150px;
  }
}

@media (max-width: 310px) {
  .input{
    width: 120px;
    height: 20px;
    font-size: 15px;
  }
}
